body {
    background-color: #f1f1f1;
}

/* Widgets */

#charts-builder {
    padding-bottom: 1em;
    margin-bottom: 4em;
}
#charts-builder .chart-list .chart-list-item:hover {
    background-color: #f1f1f1;
}
#charts-builder .widget {
    margin: 5px;
    float: left;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-bottom-width: 2px;
    border-bottom-color: #bbb;
}

/* Resizeable ui */

.ui-resizable-e:hover,
.ui-resizable-s:hover {
    background-color: #85C785;
}
.ui-resizable-e:hover {
    border-radius: 0 5px 5px 0;
}
.ui-resizable-s:hover {
    border-radius: 0 0 5px 5px;
}
.resizable-helper {
    border: 2px dotted #85C785;
    background-color: rgba(255, 255, 255, 0.8);
}
#charts-builder .ui-icon-gripsmall-diagonal-se {}
#charts-builder .ui-icon-gripsmall-diagonal-se:hover {
    background-color: #85C785;
}

#charts-builder .widget:hover {
    border-color: #85C785;
}
#charts-builder .widget iframe {
    border: 0;
}
#charts-builder .widget .widget-edit {
    display: none;
    position: absolute;
    top: 0;
    right: 60px;
    font-size: 11px;
    background-color: #999;
    padding: 0 0.8em;
    border-radius: 0 0 3px 3px;
    height: 24px;
    line-height: 24px;
    color: white;
    border-bottom: 2px solid #777;
}
#charts-builder .widget .widget-edit:hover {
    background-color: #444;
}
#charts-builder .widget .icon {
    margin-left: 0.5em;
    font-size: 15px;
    color: #666;
}
#charts-builder .widget .icon:last-of-type {
    margin-left: 0;
}
#charts-builder .widget .icon:hover {
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    cursor: pointer;
    color: #222;
}
#charts-builder .widget:hover .widget-edit {
    display: block;
}
#charts-builder .widget .widget-refresh:hover {
    transform: rotate(60deg);
}
#charts-builder .widget .widget-loader,
#charts-builder .widget .loadfail {
    position: absolute;
    font-size: 30px;
    color: #333;
    top: 50%;
    right: 50%;
    margin-left: -50%;
    z-index: 999;
}
#charts-builder .loader-overlay {
    position: absolute;
    top: 0;
    z-index:998;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
#charts-builder [data-failed="true"] {
    opacity: 0.5 !important;
}
#charts-builder [data-failed="true"]:hover {
    opacity: 1 !important;
}
#charts-builder .widget .loadfail {
    font-size: 12px;
}

/* Custom form inputs */

#charts-builder .widget .chart-inputs {
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-width: 3px;
    margin-bottom: 1em;
    margin-left: -1px;
    margin-right: -1px;
    margin-top: 5px;
    position: relative;
    z-index: 999;
}
#charts-builder .widget .chart-inputs form {
    margin: 0 auto;
}
#charts-builder .widget .chart-inputs form label {
    border-bottom: 1px solid #ccc;
    display: block;
    margin-right: 0.3em;
    padding-bottom: 0.5em;
}
#charts-builder .widget .chart-inputs form label:last-of-type {
    border-bottom: none;
}
#charts-builder .widget .chart-inputs .help-text {
    font-weight: 200;
}
#charts-builder .widget .chart-inputs .input-radio {
    margin-right: 0.2em;
    text-align: center;
}
#charts-builder .widget .chart-inputs .input-radio,
#charts-builder .widget .chart-inputs .input-radio input {
    display: inline-block;
}
#charts-builder .widget .chart-inputs legend {
    font-size: 16px;
    font-weight: 200;
}
#charts-builder .widget .widget-title {
    display: block;
    font-weight: 200;
    font-size: 0.9em;
    border-bottom: 1px solid #ccc;
    padding: 0.6em 1.2em;
    height: 35px !important;
    line-height: 20px;
    overflow: hidden;
    background-color: #eee;
    color: #444;
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
}
#charts-builder #view-builder.editing {
    border: 1px solid #ccc;
    background-color: #fff;
    min-width: 800px;
    min-height: 800px;
    /*http://www.patternify.com/*/
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAALUlEQVQYV2M8fvz4fwYiACNIoaWlJSMhtaMK8YYQOHgsLCxMQKoYGRnP4lINANSKKF9X4C8fAAAAAElFTkSuQmCC);
}
#charts-builder .widget iframe,
#charts-builder .widget svg,
#charts-builder .widget .chart-centered {
    margin: 0 auto;
    display: block;
}
#api-output {
    max-height: 600px;
    overflow: scroll;
    display: block;
}
#charts-builder #save-view-form {
    padding: 1em;
}
#charts-builder .form-inline {
    display: inline-block !important;
}
#charts-builder .form-inline input,
#charts-builder .form-inline button {
    display: inline-block;
}

/**
 * SVG for graphlib.
 */

#charts-builder .chart-graph .node {
    fill: none;
}

/* Containers */

#charts-builder .chart-graph .nodes .node rect {
    fill: #f1f1f1;
    stroke: black;
    stroke-width: 2px;
}
#charts-builder .chart-graph .nodes .node text {
    fill: black;
}

/* Arrows */

#charts-builder .chart-graph .edgePath path {
    stroke: black;
    fill: black;
}
