{% extends "layouts/base.html" %}

{% block custom_css %}
{{ super() }}
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{{ url_for('charts_builder.static', filename='css/vendor/font-awesome.css') }}">
<link rel="stylesheet" href="{{ url_for('charts_builder.static', filename='css/vendor/loaders.min.css') }}">

<!-- CHART SPECIFIC CSS -->
{% for label, chart_group in charts_config.items() %}
    {% if chart_group['enabled'] and chart_group['css_url'] %}
        <link title="{{ label|lower }}" rel="stylesheet" href="//{{ chart_group['css_url'] }}">
    {% endif %}
{% endfor %}

<!-- APP CSS -->
<link rel="stylesheet" href="{{ url_for('charts_builder.static', filename='css/examples.css') }}">
<link rel="stylesheet" href="{{ url_for('charts_builder.static', filename='css/app.css') }}">
{% endblock %}

{% block body %}
{{ super() }}
<div class="container-fluid" id="charts-builder">
    <div class="row">
        <div class="col-md-12">
            {% block chart_body %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}

{% block custom_scripts %}
{{ super() }}
<!-- CORE VENDOR JS -->
<script src="{{ url_for('charts_builder.static', filename='js/vendor/sugar.min.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/vendor/freewall.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/vendor/jRespond.min.js') }}"></script>

<!-- CHART SPECIFIC SCRIPTS -->
{% for label, chart_group in charts_config.items() %}
    {% if chart_group['enabled'] and chart_group['js_url'] %}
        <script src="//{{ chart_group['js_url'] }}"></script>
    {% endif %}
{% endfor %}

<!-- APP JS -->
<script src="{{ url_for('charts_builder.static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/templates.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/handlers.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/app.js') }}"></script>
<script>
    {% if view %}
    // Add js context
    window.charts_heartbeat = {{ charts_heartbeat|tojson }};
    window.HEARTBEAT_INTERVAL = window.charts_heartbeat.INTERVAL || 10000;
    function init() {
        addDomEvents();
        loadDashboard({{ view|tojson|safe }});
    }
    $(document).ready(init);
    {% endif %}
</script>
{% endblock %}
