{% extends "layouts/base.html" %}
{% block custom_css %}
{{ super() }}
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{{ url_for('charts_builder.static', filename='css/vendor/c3.min.css') }}">
<link rel="stylesheet" href="{{ url_for('charts_builder.static', filename='css/vendor/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{ url_for('charts_builder.static', filename='css/vendor/font-awesome.css') }}">
<link rel="stylesheet" href="{{ url_for('charts_builder.static', filename='css/vendor/dataTables.bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('charts_builder.static', filename='css/vendor/loaders.min.css') }}">
<link title="timeline-styles" rel="stylesheet" href="//cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">

<!-- APP CSS -->
<link rel="stylesheet" href="{{ url_for('charts_builder.static', filename='css/examples.css') }}">
<link rel="stylesheet" href="{{ url_for('charts_builder.static', filename='css/app.css') }}">
{% endblock %}

{% block body %}
{{ super() }}
<div class="container-fluid">
    <div class="row header">
        <div class="col-md-12 clearfix">
            {% block header %}{% endblock %}
        </div>
    </div>
    {% block content %}{% endblock %}
</div>
{% endblock %}

{% block custom_scripts %}
{{ super() }}
<!-- CORE VENDOR JS -->
<script src="{{ url_for('charts_builder.static', filename='js/vendor/jquery.min.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/vendor/bootstrap.min.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/vendor/sugar.min.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/vendor/freewall.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/vendor/jRespond.min.js') }}"></script>

<!-- CHART SPECIFIC SCRIPTS -->
<script src="{{ url_for('charts_builder.static', filename='js/vendor/d3.min.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/vendor/c3.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.10/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.10/js/dataTables.bootstrap.js"></script>
<script src="//cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

<!-- APP JS -->
<script src="{{ url_for('charts_builder.static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/templates.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/handlers.js') }}"></script>
<script src="{{ url_for('charts_builder.static', filename='js/app.js') }}"></script>
<script>
    {% if view %}
    loadDashboard({{ view|tojson|safe }});
    {% endif %}
</script>
{% endblock %}
