{% extends "layouts/base.html" %}

{% if view %}
    {% block title %}
        Dashboards > {{ view.name }}
    {% endblock %}
{% endif %}

{% block custom_css %}
{{ super() }}
<!-- VENDOR CSS -->
<link rel="stylesheet" href="{{ url_for('jsondash._static', filename='css/vendor/jquery-ui.min.css') }}">
<link rel="stylesheet" href="{{ url_for('jsondash._static', filename='css/vendor/font-awesome.css') }}">

{% if view %}
    <!-- CHART SPECIFIC CSS -->
    {% if active_charts %}
        {% for label, chart_group in charts_config.items() %}
            {# Load any dependencies from other charts if applicable. #}
            {% if chart_group.dependencies %}
                {% for dep in chart_group.dependencies %}
                    {% if charts_config[dep].css_url %}
                        {% for url in charts_config[dep].css_url %}
                            <link rel="stylesheet" href="{{ url }}">
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if chart_group.enabled and chart_group.css_url and label in active_charts %}
                <!-- Chart CSS: {{ label }} -->
                {% for url in chart_group.css_url %}
                    <link rel="stylesheet" href="{{ url }}">
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for label, chart_group in charts_config.items() %}
            {% if chart_group.dependencies %}
                {% for dep in chart_group.dependencies %}
                    {% if charts_config[dep].css_url %}
                        {% for url in charts_config[dep].css_url %}
                            <link rel="stylesheet" href="{{ url }}">
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if chart_group.enabled and chart_group.css_url %}
                <!-- Chart CSS: {{ label }} -->
                {% for url in chart_group.css_url %}
                    <link rel="stylesheet" href="{{ url }}">
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

<!-- APP CSS -->
<link rel="stylesheet" href="{{ url_for('jsondash._static', filename='css/app.css') }}">
<link rel="stylesheet" href="{{ url_for('jsondash._static', filename='css/overrides.css') }}">

{% endblock %}

{% block body %}
{{ super() }}
<div id="charts-builder" class="dashboard-charts">
    {% block chart_body %}{% endblock %}
</div>
{% endblock %}

{% block custom_scripts %}
{{ super() }}
{% if view %}
    <!-- CORE VENDOR JS -->
    <script src="{{ url_for('jsondash._static', filename='js/vendor/masonry.pkgd.min.js') }}"></script>
    <script src="{{ url_for('jsondash._static', filename='js/vendor/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('jsondash._static', filename='js/vendor/jRespond.min.js') }}"></script>

    <!-- CHART SPECIFIC SCRIPTS -->
    {% if active_charts %}
        {% for label, chart_group in charts_config.items() %}
            {# Load any dependencies from other charts if applicable. #}
            {% if chart_group.dependencies %}
                {% for dep in chart_group.dependencies %}
                    {% if charts_config[dep].js_url %}
                        {% for url in charts_config[dep].js_url %}
                            <script src="{{ url }}"></script>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if chart_group.enabled and chart_group.js_url and label in active_charts %}
                <!-- Chart JS: {{ label }} -->
                {% for url in chart_group.js_url %}
                    <script src="{{ url }}"></script>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% else %}
        {# Download all if no active charts specified. #}
        {% for label, chart_group in charts_config.items() %}
            {% if chart_group.dependencies %}
                {% for dep in chart_group.dependencies %}
                    {% if charts_config[dep].js_url %}
                        {% for url in charts_config[dep].js_url %}
                            <script src="{{ url }}"></script>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if chart_group.enabled and chart_group.js_url %}
                <!-- Chart JS: {{ label }} -->
                {% for url in chart_group.js_url %}
                    <script src="{{ url }}"></script>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endif %}

<!-- APP JS -->
<script src="{{ url_for('jsondash._static', filename='js/app.js') }}"></script>
<script src="{{ url_for('jsondash._static', filename='js/handlers.js') }}"></script>
<script src="{{ url_for('jsondash._static', filename='js/utils.js') }}"></script>
<script>
    $(document).ready(function(){
        jsondash.addDomEvents();
        {% if view %}
        jsondash.loadDashboard({{ view|jsonstring|safe }});
        {% endif %}
    });
</script>
{% endblock %}
