/**
 * DataTables
 */

.dataTables_wrapper {
    max-width: 100%;
    margin: 0.8em;
}

/**
 * D3js
 */

/* Circle Packing */

.node circle {
    fill: rgb(31, 119, 180);
    fill-opacity: .25;
    stroke: rgb(31, 119, 180);
    stroke-width: 1px;
}
.node.leaf circle {
    fill: #FDF59A;
    fill-opacity: 1;
}
.node text {
    font: 10px sans-serif;
}

/**
 * Custom
 */

.singlenum {
    text-align: center;
    font-size: 60px;
    font-weight: 100;
    line-height: 40%;
    margin-top: 40%;
    display: block;
}
