{% extends "layouts/charts_base.html" %}
{% block chart_header %}
<p>
    All Views
    <small>
        <a href="#new-view-form" class="pull-right btn btn-sm btn-success" id="add" data-toggle="collapse">
            <span class="fa fa-plus"></span> Create new view
        </a>
    </small>
</p>
{% endblock %}

{% block chart_body %}
<div class="row">
    <div class="col-md-12">
        {% if views %}
            <div class="well text-center">
                <h1 class="lead">You have <strong>{{ views|length }}</strong> {{ 'views' if views|length > 1 else 'view' }}, with <strong>{{ total_modules }}</strong> charts total.</h1>
            </div>
        {% endif %}
        <div id="new-view-form" class="{{ 'collapse' if views else ''}} row">
            <div class="col-md-12">
                {% if not views %}
                <div class="alert alert-warning text-center">
                    <p>No views exist. Create one below to get started.</p>
                </div>
                {% endif %}
                <h3>Create view</h3>
                {% include "form-view.html" %}
                {% include "edit-data-modal.html" %}
            </div>
        </div>
        <ul class="list-group">
            {% for view in views %}
            <li class="list-group-item">
                <span class="fa fa-bar-chart"></span>
                <a href="{{ url_for('charts_builder.view', id=view.id) }}">
                    <strong>{{ view.name }}</strong> - {{ view.date }} ({{ view.modules|length }} modules)
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
