<div class="sidepanel-container">
    <ul class="sidepanel" id="panel1">
        <li class="panel-item">
            <a href="#" class="panel-button">
                <span class="icon fa fa-star"></span>
                <span class="text">Ooakaosdksaok</span>
            </a>
        </li>
        <li class="panel-item">
            <a href="#" class="panel-button">
                <span class="icon fa fa-lightning"></span>
                <span class="text">Ooakaosdksaok</span>
            </a>
        </li>
        <li class="panel-item">
            <a href="#" class="panel-button">
                <span class="icon fa fa-rocket"></span>
                <span class="text">Ooakaosdksaok</span>
            </a>
        </li>
        <li class="panel-item">
            <a href="#" class="panel-button">
                <span class="icon fa fa-star"></span>
                <span class="text">Ooakaosdksaok</span>
            </a>
        </li>
    </ul>
    <a href="#panel1" class="panel-button">open panel</a>
</div>
