<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Foo</th>
                        <th>Bar</th>
                        <th>Baz</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                    </tr>
                    <tr>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                    </tr>
                    <tr>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                    </tr>
                    <tr>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                    </tr>
                </tbody>
            </table>
            <div class="carousel-caption">
                <h4>First Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
        </div>
        <div class="item">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Foo</th>
                        <th>Bar</th>
                        <th>Baz</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                    </tr>
                    <tr>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                    </tr>
                    <tr>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                    </tr>
                    <tr>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                    </tr>
                </tbody>
            </table>
            <div class="carousel-caption">
                <h4>Second Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
        </div>
        <div class="item active">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Foo</th>
                        <th>Bar</th>
                        <th>Baz</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                    </tr>
                    <tr>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                    </tr>
                    <tr>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                    </tr>
                    <tr>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                        <td>Foo bar baz</td>
                    </tr>
                </tbody>
            </table>
            <div class="carousel-caption">
                <h4>Third Thumbnail label</h4>
                <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
</div>
