<select name="type" class="form-control">
    <optgroup label="C3.js">
        <option value="line">Line</option>
        <option value="bar">Bar</option>
        <option value="timeseries">Timeseries</option>
        <option value="step">Step</option>
        <option value="pie">Pie</option>
        <option value="area">Area</option>
        <option value="donut">Donut</option>
        <option value="spline">Spline</option>
        <option value="gauge">Gauge</option>
        <option value="scatter">Scatterplot</option>
        <option value="area-spline">Area spline</option>
    </optgroup>
    <optgroup label="D3.js">
        <option value="dendrogram">Dendrogram</option>
        <option value="voronoi">Voronoi</option>
    </optgroup>
    <optgroup label="Misc.">
        <option value="timeline">timeline</option>
        <option value="custom">Custom component</option>
        <option value="iframe">Custom iframe</option>
        <option value="table">Table</option>
        <option value="sparkline_bar">Sparkline Bar</option>
        <option value="datatable">Data Table</option>
    </optgroup>
</select>
