{% extends "layouts/default.html" %}

{% block header %}
<p>
    All Views
    <small>
        <a href="#new-view-form" class="pull-right btn btn-sm btn-success" id="add" data-toggle="collapse">
            <span class="fa fa-plus"></span> Create new view
        </a>
    </small>
</p>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div id="new-view-form" class="collapse row">
            <div class="col-md-12">
                <div class="well">
                    <h3>Configure view</h3>
                    {% include "form-view.html" %}
                    {% include "edit-data-modal.html" %}
                </div>
            </div>
        </div>
        <ul class="list-group">
            {% for view in views %}
            <li class="list-group-item">
                <span class="fa fa-bar-chart"></span>
                <a href="/charts/{{ view.name }}">
                    <strong>{{ view.name }}</strong> - {{ view.date }} ({{ view.modules|length }} modules)
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
