{% extends "layouts/charts_base.html" %}

{%- macro chart(module=None) %}
    {% if module %}
    <div class="hidden item widget"
        data-guid="{{ module.guid }}"
        data-refresh="{{ module.refresh }}"
        data-refresh-interval="{{ module.refreshInterval }}"
        style="width: {{ module.width }}px;height: {{ module.height }}px;">
    {% endif %}
        <div class="loader-overlay"></div>
        <span class="widget-loader fa fa-circle-o-notch fa-spin"></span>
        <p class="widget-title">
            {{ module.name }}
            <span class="pull-right">
                {% if module.inputs %}
                    <span rel="tooltip"
                    data-target='[data-guid="{{ module.guid }}"] .chart-inputs'
                    data-toggle="collapse"
                    title="Form options for this chart"
                    class="icon charts-input-icon fa fa-plus-square"></span>&nbsp;
                {% endif %}
                <span rel="tooltip" title="Refresh the panels url endpoint" class="icon widget-refresh fa fa-refresh"></span>
            </span>
        </p>
        <a href="#chart-options" data-toggle="modal" class="widget-edit"><span class="fa fa-edit"></span> Edit</a>
        <div class="chart-container"></div>
        {% if module.inputs %}
            <div class="chart-inputs collapse">
                <form action="{{ module.dataSoure }}" class="form-horizontal form-group-sm">
                    {% for input in module.inputs.options %}
                        <label>
                            {{ input.label }}
                            {% if input.help_text %}
                                <br><small class="help-text">{{ input.help_text }}</small>
                            {% endif %}
                            <input type="{{ input.type or 'text' }}"
                                class="{{ input.input_classes|join(' ') or '' }}"
                                name="{{ input.name }}"
                                value="{{ input.value }}"
                                placeholder="{{ input.placeholder }}"
                                pattern="{{ input.validator_regex }}"
                                >
                        </label>
                    {% endfor %}
                    <button class="{{ module.inputs.btn_classes|join(' ') or '' }}">
                        {{ module.inputs.submit_text }}
                    </button>
                </form>
            </div>
        {% endif %}
    {% if module %}</div><!-- end item.widget -->{% endif %}
{% endmacro -%}

{% block chart_body %}
<div class="row">
    <div class="col-md-12">
        <h2 class="lead text-center">
            <small>
                <a href="{{ url_for('jsondash.dashboard') }}" class="btn-xs btn-default pull-left">
                    <span class="fa fa-angle-left"></span> Back
                </a>
            </small>
            {{ view.name }}
            <small>
                {% include "partials/dashboard-options.html" %}
            </small>
        </h2>
        <div class="{{ 'collapse' if view.modules|length else '' }}" id="edit-view-container">
            {% if not view.modules|length %}
                <div class="alert alert-warning text-center">
                    <p>
                        It looks like this dashboard has no modules - add some below.
                    </p>
                </div>
            {% endif %}
            {% include "partials/form-view.html" %}
        </div>
        {% include "partials/form-json.html" %}
        <div class="layout" id="view-builder">
            <div id="container">
                {% for module in view.modules %}
                    {{ chart(module=module) }}
                {% endfor %}
            </div>
        </div>
        <div class="hidden" id="chart-template">
            {{ chart() }}
        </div>
    </div>
</div>
{% include "partials/edit-data-modal.html" %}
{% endblock %}
