{# The "edit raw json" form #}
<form action="{{ url_for('jsondash.update', c_id=view.id) }}" class="well clearfix collapse" id="save-json-form" method="POST" role="form">
    <input type="hidden" name="edit-raw">
    <fieldset>
        <legend>Edit raw json</legend>
        <p><small class="text-warning"><strong>Note:</strong> some fields may not be edited. These inputs will be ignored.</small></p>
        <textarea class="form-control" name="config" id="raw-config" cols="30" rows="10">
            {{ view|jsonstring }}
        </textarea>
    </fieldset>
    <a href="{{ docs_url }}config.md" target="_blank">Visit docs for schema configuration <span class="fa fa-angle-right"></span></a>
    <br>
    <button class="pull-right btn btn-lg btn-primary">
        <span class="fa fa-check"></span> update config
    </button>
</form>
