<div class="modal fade" id="chart-options">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Chart options</h4>
        </div>
        <div class="modal-body">
            <form class="form-block row" id="module-form" role="form">
                <div class="col-md-12">
                    <label>
                        Name
                        <input class="form-control" type="text" name="name" value="" placeholder="name">
                    </label>
                    <label>
                        Type
                        {% include "partials/form-diagram-options.html" %}
                    </label>
                    <label>
                        width <input class="form-control" type="text" name="width" value="" placeholder="e.g. 500">
                    </label>
                    <label>
                        height <input class="form-control" type="text" name="height" value="" placeholder="e.g. 400">
                    </label>
                    <label>
                        API endpoint (<em>or template path, if using "custom/iframe"</em>) <input class="form-control" type="text" name="dataSource" value="http://" placeholder="e.g. localhost:5000/my/endpoint">
                    </label>
                    <label>
                        <input class="form-control" type="checkbox" name="override">
                        Use custom configuration? <br><small>Note: this will pass the <strong>entire</strong> payload from <code>config.dataSource</code> to the widget constructor, and may result in errors if not configured properly.</small>
                    </label>
                </div>
                <div class="col-md-12">
                    <hr>
                    <p class="lead">API response:</p>
                    <div class="well">
                        <code id="api-output">...</code>
                    </div>
                    <button id="api-output-preview" class="btn btn-xs btn-success">Preview</button>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
            {% if view %}
            <button type="button" id="update-module" data-dismiss="modal" class="btn btn-primary">Update</button>
            {% else %}
            <button type="button" id="save-module" data-dismiss="modal" class="btn btn-primary">Save</button>
            {% endif %}
            {% if view %}
            <button id="delete-widget" class="btn btn-danger"><span class="fa fa-times"></span> Delete</button>
            {% endif %}
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
