<ul class="nav nav-tabs nav-stacked">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Messages</a></li>
</ul>

<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
            <p>Text goes here...</p>
        </div>

        <!-- Table -->
        <table class="table">
            <thead>
                <tr>
                    <th>Heading 1</th>
                </tr>
                <tr>
                    <th>Heading 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Content 1</td>
                </tr>
                <tr>
                    <td>Content 2</td>
                </tr>
            </tbody>
        </table>
</div>
